.doctypes
  %ul
    %li.default
      !!!
    %li.strict
      !!! Strict
    %li.frameset
      !!! Frameset
    %li.html5
      !!! 5
    %li.xhtml11
      !!! 1.1
    %li.basic
      !!! Basic
    %li.mobile
      !!! Mobile
    %li.rdfa
      !!! RDFa

