- $item = array('id' => 123, 'title' => 'Some Title', 'body' => 'Lorem ipsum dolor sit amet, consectetur ...')

.container
  %h2 Examples from Haml website, tutorial.html
  
  %hr/
  
  %strong= $item['title']
  
  %hr/
  
  / Long version
  %strong{:class => "code", :id => "message"} Hello, World!
  
  / Short version
  %strong.code#message Hello, World!
  
  %hr/
  
  / div.class example
  .content Hello, World!
  
  / example with variables and concat
  .item{:id => "item".$item['id']  }
    %h4= $item['title']
    = $item['body']
    
  %hr/
  
  #content
    .left.column
      %h2 Welcome to our site!
      %p= $item['title']
      
